<!DOCTYPE html>
<html lang="en" ng-app="TeachersPetApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles2.css">
    <link rel="stylesheet" type="text/css" href="css/styles2.css">
    <meta charset="UTF-8">
    <title>Teacher's Pet</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" type="text/css" href="styles.css">-->






</head>
<body ng-controller="GradebookController">
{{! changing the mustache delimiter so it doesn't conflict with }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info }}
{{=<% %>=}}


<!-- Add assignment popup button -->
<button name="but" type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Add Assignment</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add assignment</h4>
            </div>
            <div class="modal-body">
                <div>


                    Assignment name: <input type="text" ng-model="newAssignmentName"/> <br/>
                    Due date: <input type="date" ng-model="newAssignmentDate"/> <br/>
                    <input type="button"  ng-click="addAssignment(newAssignmentName, newAssignmentDate)" value="Add Assignment"/> <br/>



                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>



<div class="page-wrap">



    <input type="hidden" ng-model="courseIdForGradebook" ng-init="gradebook(<%courseId%>)"/>



<th>
    <ul class="nav nav-tabs">


    <li><a data-toggle="tab" href="#fulltableid" ng-click="selectFullTable()">All assignments</a></li>

        <span ng-repeat="currentAssignment in allAssignments">
            <li><a data-toggle="tab" href="#tableid" ng-click="selectAssignment(currentAssignment)">{{currentAssignment.name}}</a></li>
        </span>

    </ul>

</th>

<!--<section id="tableid" class="table-responsive tab-pane fade">-->
<!--<section id="tableid" class="tab-pane fade" ng-if="displayIndividualTables">-->
<section id="tableid" class="tab-pane fade">

<!-- start tabs & single assignment table-->
<div style="display: inline">
<div ng-repeat="currentAssignment in allAssignments">
    <!--<div id="{{currentAssignment.name}}" class="table-responsive tab-pane fade assignmentTab">-->

        <div id="{{currentAssignment.name}}" class="assignmentTab">
        <h4>{{currentAssignment.name}}, due on {{currentAssignment.dueDate}}</h4>
        <table class="table table-bordered">
            <!--<tr>-->
                <!--<td>-->
                    <!--<button name="but" type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Add Assignment</button>-->

                    <!--&lt;!&ndash; Modal &ndash;&gt;-->
                    <!--<div class="modal fade" id="myModal" role="dialog">-->
                        <!--<div class="modal-dialog">-->

                            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                    <!--<h4 class="modal-title">Add assignment</h4>-->
                                <!--</div>-->
                                <!--<div class="modal-body">-->
                                    <!--<div>-->


                                        <!--Assignment name: <input type="text" ng-model="newAssignmentName"/> <br/>-->
                                        <!--Due date: <input type="date" ng-model="newAssignmentDate"/> <br/>-->
                                        <!--<input type="button"  ng-click="addAssignment(newAssignmentName, newAssignmentDate)" value="Add Assignment"/> <br/>-->



                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->


            <!-- start student and grades data! -->
            <tr>
                <td>Students</td>
                <td>Grade on {{currentAssignment.name}}</td>
            </tr>

            <tr ng-repeat="studentAssignment in oneAssignmentDataContainer.studentAssignmentsForThisAssignment">
                <td>
                    {{studentAssignment.student.lastName}}, {{studentAssignment.student.firstName}} | <span style="color: gray"> Average: {{ studentContainer.average }} </span> <button type="button" class="btn btn-default" ng-click="sendEmailOneStudentOneAssignment(studentAssignment.student)" value="Email">
                    <span class="glyphicon glyphicon-envelope" > </span> Email
                </button>
                </td>

                <td>
                    <input type="number" style="width: 50px" ng-model="studentAssignment.grade" />
                </td>

            </tr>

            <tr>

            </tr>

            <tr>
                <td>
                <!--<td> <button type="button" class="btn btn-default btn-lg"  data-toggle="modal" data-target="#myModals">Add Student</button>-->

                    <!--&lt;!&ndash; Modal &ndash;&gt;-->
                    <!--<div class="modal fade" id="myModals" role="dialog">-->
                        <!--<div class="modal-dialog">-->

                            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                    <!--<h4 class="modal-title">Add Student</h4>-->
                                <!--</div>-->
                                <!--<div class="modal-body">-->
                                    <!--<div>-->
                                        <!--Student first name: <input type="text" ng-model="newStudentFirstName"/> <br/>-->
                                        <!--Last name: <input type="text" ng-model="newStudentLastName"/> <br/>-->
                                        <!--Parent email: <input type="text" ng-model="newStudentParentEmail"/> <br/>-->
                                        <!--<input type="button" ng-click="addStudent(newStudentFirstName, newStudentLastName, newStudentParentEmail)" value="Add Student"/> <br/>-->




                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->


                </td>

                <td> <button type="button" class="btn btn-default btn-md" ng-click="addGradesOneAssignment(oneAssignmentDataContainer.studentAssignmentsForThisAssignment)" value="Send grades">
                    <span class = "glyphicon glyphicon-send"> Send-Grades </span>
                </button>
                </td>

            </tr>

            <tr>
                <td> </td>
                <td> Average: {{oneAssignmentDataContainer.averageForThisAssignment}} </td>
            </tr>

            <tr>
                <td> </td>
                <td> Extra credit: <input type="number"  ng-model="extraCreditAmountOneAssignment" placeholder="# points"/> <input type="button" class="btn btn-default btn-md"  ng-click="addExtraCreditOneAssignment(extraCreditAmountOneAssignment, oneAssignmentDataContainer.studentAssignmentsForThisAssignment)" value="Add to all"/> </td>
            </tr>

            <tr>
                <td> </td>
                <td> <input type="button" class="btn btn-default btn-md" ng-click="curveFlatOneAssignment(oneAssignmentDataContainer.studentAssignmentsForThisAssignment)" value="Flat curve"/> </td>
            </tr>

            <tr>
                <td> </td>
                <td> <input type="button" class="btn btn-default btn-md" ng-click="curveAsPercentageOfHighestGradeOneAssignment(oneAssignmentDataContainer.studentAssignmentsForThisAssignment)" value="Percentage of highest curve"/> </td>
            </tr>

            <tr>
                <td> </td>
                <td> <input type="button" class="btn btn-default btn-md"  ng-click="curveByTakingRootOneAssignment(oneAssignmentDataContainer.studentAssignmentsForThisAssignment)" value="Square root curve"/> </td>
            </tr>

            <tr>
                <td>
                <td> <input type="button" class="btn btn-default btn-md"  ng-click="getOriginalGradesOneAssignment(currentAssignment)" value="Revert to original grades"/> </td>
            </tr>

            <tr>
                <td>
                <td> <input type="button" class="btn btn-default btn-md"  ng-click="showGraph(currentAssignment)" value="Show graph!"/> </td>
            </tr>

            <tr>

                <!-- Add student popup button -->
                <button type="button" class="btn btn-default btn-lg"  data-toggle="modal" data-target="#myModals">Add Student</button>

                <!-- Modal -->
                <div class="modal fade" id="myModals" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Student</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    Student first name: <input type="text" ng-model="newStudentFirstName"/> <br/>
                                    Last name: <input type="text" ng-model="newStudentLastName"/> <br/>
                                    Parent email: <input type="text" ng-model="newStudentParentEmail"/> <br/>
                                    <input type="button" ng-click="addStudentOneAssignment(newStudentFirstName, newStudentLastName, newStudentParentEmail, currentAssignment)" value="Add Student"/> <br/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </tr>

        </table>
    </div>



    </div>

    <div>
        <section id="graph" ng-if="graphShowing">
            <canvas height="500" width="800" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick" width="700" height="400"
            </canvas



        </section>
    </div>

</div>

</section>


<!-- All assignments tab -->
<section id="fulltableid" class="table-responsive tab-pane fade assignmentTab">

    <section class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <td>
                    <button name="but" type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Add Assignment</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add assignment</h4>
                                </div>
                                <div class="modal-body">
                                    <div>


                                        Assignment name: <input type="text" ng-model="newAssignmentName"/> <br/>
                                        Due date: <input type="date" ng-model="newAssignmentDate"/> <br/>
                                        <input type="button"  ng-click="addAssignment(newAssignmentName, newAssignmentDate)" value="Add Assignment"/> <br/>



                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="currentAssignment in allAssignments"> {{currentAssignment.name}}, due {{currentAssignment.dueDate}} </td>
            </tr>


            <tr ng-repeat="studentContainer in gradebookContainer.studentContainers">
                <td>{{ studentContainer.student.firstName }} {{ studentContainer.student.lastName }} | <span style="color: gray"> Average: {{ studentContainer.average }} </span> <button type="button" class="btn btn-default" ng-click="sendEmailOneStudent(studentContainer)" value="Email">
                    <span class="glyphicon glyphicon-envelope" > </span> Email
                </button></td>

                <td ng-repeat="studentAssignment in studentContainer.studentAssignments"> <input type="number" ng-model="studentAssignment.grade" ng-keyup="storeGrades"> </td>
            </tr>

            <tr>

            </tr>

            <tr>
                <td> <button type="button" class="btn btn-default btn-lg"  data-toggle="modal" data-target="#myModals">Add Student</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModals" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Student</h4>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        Student first name: <input type="text" ng-model="newStudentFirstName"/> <br/>
                                        Last name: <input type="text" ng-model="newStudentLastName"/> <br/>
                                        Parent email: <input type="text" ng-model="newStudentParentEmail"/> <br/>
                                        <input type="button" ng-click="addStudent(newStudentFirstName, newStudentLastName, newStudentParentEmail)" value="Add Student"/> <br/>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                    <!--<input type="button" class="btn btn-default btn-md" ng-click="sendEmailForAllZeros()" value="Email all with missing assignments"/>-->

                </td>




                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <button type="button" class="btn btn-default btn-md" ng-click="addGrades(allAssignments[$index], gradebookContainer.studentContainers)" value="Send grades">
                    <span class = "glyphicon glyphicon-send"> Send-Grades </span>
                </button>
                </td>

            </tr>

            <tr>
                <td> </td>
                <td ng-repeat="currentAverage in assignmentAveragesArray track by $index"> Average: {{currentAverage}} </td>
            </tr>

            <tr>
                <td> </td>
                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> Extra credit: <input type="number"  ng-model="extraCreditAmount" placeholder="# points"/> <input type="button" class="btn btn-default btn-md"  ng-click="addExtraCredit(extraCreditAmount, allAssignments[$index], gradebookContainer.studentContainers)" value="Add extra credit"/> </td>
            </tr>

            <tr>
                <td> </td>
                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <input type="button" class="btn btn-default btn-md" ng-click="curveFlat(allAssignments[$index], gradebookContainer.studentContainers)" value="Flat curve"/> </td>
            </tr>

            <tr>
                <td> </td>
                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <input type="button" class="btn btn-default btn-md" ng-click="curveAsPercentageOfHighestGrade(allAssignments[$index], gradebookContainer.studentContainers)" value="Percentage of highest curve"/> </td>
            </tr>

            <tr>
                <td> </td>
                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <input type="button" class="btn btn-default btn-md"  ng-click="curveByTakingRoot(allAssignments[$index], gradebookContainer.studentContainers)" value="Square root curve"/> </td>
            </tr>

            <tr>
                <td>

                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <input type="button" class="btn btn-default btn-md"  ng-click="getOriginalGrades(allAssignments[$index])" value="Revert to original grades"/> </td>
            </tr>

            <tr>
                <td>

                <td ng-repeat="i in getNumberOfAssignments(numberOfAssignments) track by $index"> <input type="button" class="btn btn-default btn-md"  ng-click="showGraph(allAssignments[$index])" value="Show graph!"/> </td>
            </tr>

        </table>
    </section>

</section>




    <!--<section class="right-half1" id="graph" ng-if="graphShowing">-->
        <!--<canvas height="500" width="800" class="chart chart-line" chart-data="data"-->
                <!--chart-labels="labels" chart-series="series" chart-options="options"-->
                <!--chart-dataset-override="datasetOverride" chart-click="onClick" width="700" height="400"-->
        <!--</canvas-->



    <!--</section>-->



    <br/><br/>





</div>

<input type="button" class="btn btn-default btn-md" ng-click="sendEmailForAllZeros()" value="Email all with missing assignments"/>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js" integrity="sha256-LyocQFwqh0JslfDVDlJqJamo/nJP/5rAQdYtCAtB4hU=" crossorigin="anonymous"></script>
<script src ="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
<script src="js/gradebook-ng-controller.js"></script>

</html>